<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="etcetera" version="0.6.0" targetFramework="net45" />
  <package id="NetMQ" version="3.3.0.11" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.0.1" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
</packages>